@inherits LayoutComponentBase

<div class="column-layout master-view-container">
    <IgbNavbar class="navbar" master-view-scope>
        <h6>Screen Title</h6>
        <div slot="start">
            <IgbIconButton Variant="IconButtonVariant.Flat" @onclick="@(e => _navDrawer!.ToggleAsync())">
                <span class="material-icons">
                    menu
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
        </div>
        <IgbButton Variant="ButtonVariant.Flat" class="button" master-view-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Flat" class="button" master-view-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <div slot="end">
            <IgbIconButton Variant="IconButtonVariant.Flat">
                <span class="material-icons">
                    search
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <IgbIconButton Variant="IconButtonVariant.Flat">
                <span class="material-icons">
                    favorite
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <IgbIconButton Variant="IconButtonVariant.Flat">
                <span class="material-icons">
                    more_vert
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
        </div>
    </IgbNavbar>
    <div class="row-layout group">
        <IgbNavDrawer Open="true" Position="NavDrawerPosition.Relative" @ref="_navDrawer" class="nav-drawer" master-view-scope>
            <IgbNavDrawerItem>
                <span slot="icon">
                    <span class="material-icons icon">
                        account_circle
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Title goes here</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem>
                <span slot="icon">
                    <span class="material-icons icon">
                        account_circle
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Title goes here</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem>
                <span slot="icon">
                    <span class="material-icons icon">
                        account_circle
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Title goes here</div>
            </IgbNavDrawerItem>
        </IgbNavDrawer>
        <div class="view-container">
            @Body
        </div>
    </div>
</div>

@code {
    private IgbNavDrawer? _navDrawer;
}
